<div id="root">
  <h2>Riff Repeater 0.01</h2>
  <youtube-player
    #player
    [videoId]="ytId"
    (stateChange)="onStateChange($event)"
    (ready)="onPlayerReady()"
  >
  </youtube-player>
  <h4>Current Player Position: {{ playerPosition.toFixed(3) }}</h4>
  <Form>
    <div>
      <label>
        YouTube Video ID
        <input type="text" [(ngModel)]="ytId" />
      </label>
    </div>
    <div>
      <label>
        PosA:
        <input type="number" [(ngModel)]="positionA" />
      </label>
      <label>
        PosB:
        <input type="number" [(ngModel)]="positionB" />
      </label>
    </div>
    <div>
      <label>
        Playback Speed:
        <input
          type="number"
          [(ngModel)]="playbackSpeed"
          (ngModelChange)="onPlaybackSpeedChange()"
        />
      </label>
    </div>
  </Form>
  <button (click)="switchLooper()">
    {{ isLooping ? "STOP LOOP" : "START LOOP" }}
  </button>

  <h4>Simple Reducer</h4>
  <div>{{ message$ | async }}</div>
  <button (click)="spanishMessage()">SPAN</button>
  <button (click)="frenchMessage()">FREN</button>

  <h4>Video List</h4>
  <div *ngFor="let video of (videos$ | async)?.videos">
    <div (click)="deleteVideo(video)">{{ video.id }}</div>
  </div>

  <router-outlet></router-outlet>
</div>
